#writing-area {
    height: 100px;
    width: 400px; 
    background-color: darkseagreen;
}

input {
    height: 100px;
    width: 400px; 
    background-color: darkseagreen;
}

h1 {
    color: green; 
}